#nav {
  width: 100%;
  height: 44px;
  text-align: center;
}



#nav ul{
  display: inline-block;
  list-style-type: none;
}



#nav li{
  float: left;
}



#nav li a{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
}



#nav li a:hover {
  background-color: #eceeef;
}



#menu-divider {
  margin-top: 0;
  margin-bottom: 0;
  width: 75%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1),rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));

}



.hero{
  text-align: center;
}



.hero img{
  display: inline-block;
}



body {

  background-color: aliceblue;
  height: max-content;

  /*hide scroll bar for */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

#box {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 425px;
  height: 425px;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 425px;
  height: 425px;
  overflow: hidden;
  border-radius: var(--borderWidth);
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -10px;
}

.circular--portrait {
  display: inline-block;
  position: relative;
  width: 425px;
  height: 425px;
  overflow: hidden;
  border-radius: var(--borderWidth);
}

.circular--portrait img{
  width: 100%;
  height: auto;
  margin-top: -60px
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
  /* background: linear-gradient(60deg, #6fba82, #07b39b, #1098ad, #5073b8, #a166ab, #ef4e7b, #f37055, #f79533); */
  background: linear-gradient(60deg,#003973, #e5e5be);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 9s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  padding-top: 100px;
  text-align: center;
}

.footer-icons{
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  width: 500px;
  height:40px;
}

.footer a{
  text-decoration: none;
}

.footer img{
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  height: 100%;
  border: 0;
  border-inline: 0;
  text-decoration: none;
  outline: none;
}

.footer hr{
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 1px;
}

.footer-copyright {
  font-family: 'Courier New', Courier, monospace;
  padding-top:0px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#getskeletonlink {
  color: black;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}

#getskeletonlink:hover {
  color: lightsteelblue;
  text-decoration: none;
}



